src/test/fixtures/wsdl11-rpc.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/calculator"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="CalculatorService"
             targetNamespace="http://example.com/calculator">

  <types>
    <xsd:schema targetNamespace="http://example.com/calculator">
      <xsd:complexType name="AddRequest">
        <xsd:sequence>
          <xsd:element name="a" type="xsd:int"/>
          <xsd:element name="b" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <message name="AddInput">
    <part name="parameters" type="tns:AddRequest"/>
  </message>
  <message name="AddOutput">
    <part name="result" type="tns:AddResponse"/>
  </message>

  <portType name="CalculatorPortType">
    <operation name="Add">
      <input message="tns:AddInput"/>
      <output message="tns:AddOutput"/>
    </operation>
  </portType>

  <binding name="CalculatorSoapBinding" type="tns:CalculatorPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
      <soap:operation soapAction="http://example.com/Add"/>
      <input><soap:body use="literal" namespace="http://example.com/calculator"/></input>
      <output><soap:body use="literal" namespace="http://example.com/calculator"/></output>
    </operation>
  </binding>

  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorSoapBinding">
      <soap:address location="http://example.com/calculator"/>
    </port>
  </service>
</definitions>
