public/sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/stockquote"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="StockQuoteService"
             targetNamespace="http://example.com/stockquote">

  <types>
    <xsd:schema targetNamespace="http://example.com/stockquote">
      <xsd:element name="GetLastTradePrice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tickerSymbol" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetLastTradePriceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="price" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="GetLastTradePriceInput">
    <part name="body" element="tns:GetLastTradePrice"/>
  </message>
  <message name="GetLastTradePriceOutput">
    <part name="body" element="tns:GetLastTradePriceResponse"/>
  </message>

  <portType name="StockQuotePortType">
    <operation name="GetLastTradePrice">
      <input message="tns:GetLastTradePriceInput"/>
      <output message="tns:GetLastTradePriceOutput"/>
    </operation>
  </portType>

  <binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetLastTradePrice">
      <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="StockQuoteService">
    <port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
      <soap:address location="http://example.com/stockquote"/>
    </port>
  </service>
</definitions>
